// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// tracked colors:

$blueberry: #4C76FF;
$aquamarine: #73FBD3;
$turquoise: #44E5E7;
$maya-blue: #59D2FE;
$lavender: #8D3B72;

$turquoise-faded: rgba(68, 299, 231, .2);
$maya-blue-faded: rgba(89, 210, 254, .2);
