// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// tracked colors:

$lavender: #8D3B72;
$emerald: #368F8B;
$blue-yonder: #4D7EA8;
$eerie-black: #160F29;
$myrtle-green: #246A73;
