.banner {
  display: flex;
  padding: 0 64px;
  flex-wrap: flex;
}

.banner-text {
  grid-area: text;
  width: 80vw;
  height: 80vh;
  background-position: left;
  background-size: 75%;
  background-repeat: no-repeat;
}

.banner-form {
  display: flex;
}

.log-in {
  background-color: white;
  border-radius: 8px;
  min-width: 22vw;
  align-self: start;
  margin-top: 20%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

  .nav {
    margin-top: 0;
    margin-bottom: 8px;
  }
}


.info-cards-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $lavender;
  padding: 64px;
  width: 100%;
}

.couriers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  img {
    height: 50vh;
  }
}

.welcome-back {
  display: flex;
  align-self: center;
  text-align: center;

  h2 {
    opacity: .75;
    font-family: $headers-font;
    padding-bottom: 16px;
    margin-bottom: 0;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

}
