.delivery-card-container {
  width: 100vw;
  display: flex;
  grid-gap: 32px;
  padding: 0 32px;
}

.delivery-cards {
  background-color: white;
  border-radius: 16px;
  align-self: start;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 16px;

  .title {
    color: white;
    background-color: $lavender;
    padding: 16px;
    border-radius: 16px 16px 0 0;
    margin-bottom: 16px;
  }

  .card-container-body {
    padding: 16px;
  }
}

#search-results {
  flex-grow: 1;
  flex-basis: 0;
}

// .card-container-body{
//   div:last-of-type;
//     background-color: $lavender;
// }
