.delivery-card-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0 32px;
}

.delivery-cards {
  background-color: rgba(141, 59, 114, .25);
  padding: 8px;
  border-radius: 8px;
}

.modal-dialog {
  width: 80% !important;
}
