.deliveries-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "add search hide";
  padding: 8px 48px;
}

.add {
  grid-area: add;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search {
  grid-area: search;
}

.hide {
  grid-area: hide;
}

.show-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delivery-card-container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 32px;
  padding: 0 32px;
}

.delivery-cards {
  background-color: white;
  border-radius: 8px;
  align-self: start;
  padding-bottom: 16px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 16px 16px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    background-color: $lavender;
    padding: 16px;
    border-radius: 8px 8px 0 0;
  }

  i {
    color: white;
    opacity: .75;
    font-size: .75rem;
    transition: .3s;

    &:hover {
      opacity: .5;
    }
  }
}

#search-results {
  flex-grow: 1;
  flex-basis: 0;
}

.showtag {
    display: flex;
    align-items: center;
    background-color: $lavender;
    border-radius: 16px;
    color: white;
    padding: 4px 8px;
    margin-right: 8px;
    text-decoration: none;

    p {
      margin: 0;
      opacity: 100%;
      margin-right: 4px;
      font-size: .75rem;
    }

    i {
      color: white;
      opacity: .75;
      font-size: .75rem;
      transition: .3s;

      &:hover {
        opacity: .5;
      }
    }
  }

  .showtag-fade {
    opacity: 0.3;
  }

  .modal-header {
    h6 {
      margin-bottom: 4px;
      font-family: $headers-font
    }

    p {
      margin: 0;
      opacity: .75;
      font-size: .75rem;
      margin-bottom: 16px;
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    text-align: center;

    h4 {
      margin: 0;
    }
  }

  .stats1 {
    padding: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .stats2 {
    padding: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

   .stats3 {
    padding: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 768px) {

    .delivery-card-container {
      padding: 0;
    }

   .deliveries-header {
    padding: 0 16px;
    grid-template-columns: 12fr;
    grid-template-areas:
      "search"
      "add"
      "hide";

      .btn-full-width {
        margin-bottom: 8px;
      }

      .show-buttons {
        justify-content: center;
      }
    }

    .stats1 {
      flex-grow: 1;
    }

    .stats2 {
      flex-grow: 1;
    }

    .stats3 {
      flex-grow: 1;
    }
  }

