<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="container">
  <h2>Our amazing charts</h2>
  <%= column_chart current_user.deliveries.group_by_day(:expected_arrival_date).count, colors: ["#8D3C72", "#8D3C72"], xtitle: "Expected Day of Arrival", ytitle: "Num. of Orders" %>
  <%= pie_chart current_user.deliveries.group(:courier_slug).count, colors: ["#8D3C72", "#984F80", "#A3638E", "#AF769C", "#BA8AAA", "#C69DB8"] %>
</div>
