<%= render 'shared/navbar' %>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="deliveries" role="tabpanel" aria-labelledby="deliveries-tab">
    <%= render "users/deliveries" %>
  </div>
  <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
    <%= render "users/delivered" %>
  </div>
  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <%= render "users/settings" %>
  </div>
</div>

<% if params[:query] != "" && @deliveries.count == 0 %>
  <h3>Oops, there are no results for that search!</h3>
<% end %>
