<%= render 'shared/navbar' %>

<% if params[:query].present? && @deliveries.count == 0 %>
 <h1>Oops! Your search did not yield results!</h1>

 <% else %>

<div class="deliver-card-container">
  <% @deliveries.each do |delivery| %>
 <div class="delivery-card">

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="deliveries" role="tabpanel" aria-labelledby="deliveries-tab">
    <%= render "users/deliveries" %>
  </div>
  <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
    <%= render "users/delivered" %>
  </div>
  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <%= render "users/settings" %>
  </div>
</div>

<% end %>
<br>


