<div class="footer">
  <div class="footer-text">
    <div class="footer-links">
      <a href="#"><h4>Contact</h4></a>
      <a href="#"><h4>Blog</h4></a>
      <a href="/about"><h4>About</h4></a>
      <a href="#"><h4>Jobs</h4></a>
    </div>
    <p>© Tracked</p>
  </div>
</div>
