<div class="my-navbar">

  <div class="navbar-left">
    <a href="/"><%= image_tag "navbar_logo", alt: "alttext" %></a>
  </div>

  <div class="navbar-middle">
   <ul class="nav" id="myTab" role="tablist">
      <li class="nav-item-white">
        <a class="nav-link active" id="active-tab" data-toggle="tab" href="#deliveries" role="tab" aria-controls="home" aria-selected="true">Deliveries</a>
      </li>
      <li class="nav-item-white">
        <a class="nav-link" id="statistics-tab" data-toggle="tab" href="#statistics" role="tab" aria-controls="profile" aria-selected="false">Statistics</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <% if signed_in? %>
      <p class="greeting"><%= @greeting %><%= current_user.display_name.capitalize %></p>
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    <% end %>
  </div>

</div>
