.btn-full-width {
  padding: 8px 16px;
  background-color: $lavender;
  color: white;
  border-radius: 24px;
  transition: .3s;
  align-self: center;

  &:hover {
    transform: scale(1.03);
    color: white;
  }
}
