.info-cards {
  background-color: white;
  width: 16rem;

  .photo {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $lavender;
    height: 64px;
  }
}

.card {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.card-login {
  width: 50%;
  // margin: 0 auto;
}

.card-login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media screen and (max-width: 600px) {
    .info-cards {
      margin: 32px 0;
    }
  }
