.delivery-card {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  background: rgb(254, 254, 254);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;

  button {
    background: none;
    border: none;
  }

  h4 {
    margin: 0;
  }

  p {
    margin: 0;
    opacity: .75;
  }

  .header {
    display: flex;
    align-items: center;
  }

  .courier-image {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
  }

  .details {
    margin-left: 16px;
    text-align: left;
  }

  .tags {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0;
  }

  .tag {
    display: flex;
    align-items: center;
    background-color: $lavender;
    border-radius: 16px;
    color: white;
    padding: 4px 8px;
    margin-right: 8px;
    text-decoration: none;

    p {
      opacity: 100%;
      margin-right: 4px;
      font-size: .75rem;
    }

    i {
      font-size: .75rem;
    }
  }

  &:hover {
    box-shadow: 2px 2px rgba(0, 0, 0, 0.8)
  }

}




.tag:hover {
  text-decoration: none;
  color: white;
}



.tags a {
  color: white;
  text-decoration: none;
}

.new_tag {
  width: 100px;
  height: 24px;
}

#tag_name {
  padding: 0;
  height: 24px;
}


.tag-btn {
 font-size: 12px;
 border: 0;
}



.delivery-details {
  padding-left: 32px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.iSZrzX {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.jziiTq {
    position: relative;
    display: flex;
    padding: 15px 0px;
    margin: 0px;
}

.hPkgKa {
    position: relative;
    width: 90px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.jjQyAI {
    margin-top: 0px;
    line-height: 1.5;
    text-align: right;
    color: rgb(53, 53, 53);
    font-weight: 700;
    margin-bottom: 0px;
}

.sc-14162w-2 {
  width: 100px;
}



.icbrCe {
    margin-top: 0px;
    color: inherit;
    margin-bottom: 8px;
    line-height: 1.5;
    text-align: right;
}

.eGjnzy {
    position: absolute;
    left: 115px;
    width: 30px;
    height: 30px;
    top: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.gNBeSh {
    position: relative;
    width: 36px;
    height: 36px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
}

.gNBeSh::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 221, 221);
    border-radius: 100%;
}

.eGjnzy > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jSlcHv {
    position: relative;
    height: auto;
    margin-left: 80px;
    word-break: break-all;
    flex: 1 1 0%;
}

.jziiTq::after {
    position: absolute;
    display: block;
    width: 1px;
    line-style: dotted;
    top: 0px;
    bottom: 0px;
    left: 130px;
    content: "";
    background-color: rgb(221, 221, 221);
    z-index: 1;
}

.hNnpWt {
    margin-top: 0px;
    line-height: 1.5;
    text-align: initial;
    color: rgb(53, 53, 53);
    font-weight: 700;
    margin-bottom: 0px;
}


.hNnpWt {
    margin-top: 0px;
    line-height: 1.5;
    text-align: initial;
    color: rgb(53, 53, 53);
    font-weight: 700;
    margin-bottom: 0px;
}

.gaeTg {
    margin-left: 0.5em;
    font-weight: normal;
    color: rgb(149, 165, 166);
    background-color: rgb(236, 240, 241);
    border-radius: 2px;
    border-width: 2px 4px;
    border-style: solid;
    border-color: rgb(236, 240, 241);
    border-image: initial;
}

.gEEinB {
    margin-top: 0px;
    color: inherit;
    margin-bottom: 8px;
    line-height: 1.5;
    text-align: initial;
}


