.footer {
  background-color: $emerald;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  .links {
    display: flex;
    justify-content: space-between;
  }

  a {
    padding: 0 24px;
    text-decoration: none;
    color: white;
  }
}
