.footer {
  background-color: $lavender;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;
  a {
    padding: 0 24px;
    text-decoration: none;
    color: white;
  }
}

.footer-text {
  text-align: center;
  color: white;
}
