.main-container {
  // background-image: url("Plane1.svg"), url("Plane2.svg"), url("Plane3.svg"), url("Plane4.svg"), url("Plane5.svg");
  background-position: right top, right center, left center, left bottom, right bottom;
  background-size: 95%;
  background-repeat: no-repeat;
}
