.main-container {
  background-image: url("Plane1"), url("Plane2"), url("Plane3"), url("Plane4"), url("Plane5");
  background-position: right top, right center, left center, left bottom, right bottom;
  background-size: 95%;
  background-repeat: no-repeat;
}
