.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo tabs welcome";
  background: $lavender;
  padding: 0 48px;
}

.navbar-left {
  display: flex;
  align-items: center;
  grid-area: logo;

  img {
    width: 40px;
    height: 40px;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.navbar-middle {
  display: flex;
  justify-content: center;
  grid-area: tabs;
  .nav {
    margin-bottom: 16px;
  }
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-area: welcome;

  p {
    font-family: $headers-font;
    color: white;
    padding-right: 8px;
    margin: 0;
  }

  i {
    align-self: center;
  }

  a {
    color: $lavender;
    &:hover {
      color: $lavender;
      opacity: .75;
    }
  }

  .fa-bars {
    display:flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    transition: .3s;

    &:hover {
      transform: scale(1.03);
      opacity: 75%;
    }
  }
}

@media screen and (max-width: 600px) {

  .navbar {
    padding: 0 16px;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
      "logo welcome"
      "logo tabs";

    ul {
      margin-top: 0;
    }
  }

  .navbar-right {
    padding: 16px 0 8px 0;
  }
}


