.my-navbar {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: $lavender;
  padding: 0 48px;
}

.navbar-left {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.navbar-middle {
  display: flex;
  justify-content: center;
  align-items:center;

  ul {
    margin: 0;
  }
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .nav-link {
    padding: 0;
  }

  p {
    font-family: $headers-font;
    color: white;
    padding-right: 16px;
    margin: 0;
    font-size: 1.2rem;
  }

  a {
    color: $lavender;
    &:hover {
      color: $lavender;
      opacity: .75;
    }
  }

  .fa-bars {
    color: white;
    font-size: 1.5rem;
    transition: .3s;

    &:hover {
      transform: scale(1.03);
      opacity: 75%;
    }
  }
}

@media screen and (max-width: 768px) {

  .my-navbar {
    grid-template-columns: 1fr 10fr 1fr;
  }

  .greeting {
    display: none;
  }

  .my-navbar {
    padding: 0 16px;
  }
}
