.search {
  position: absolute;
  left: 80px;
}

.form-control-new {
  border: none;
  border-bottom: 1px solid $lavender;

  &:focus {
    outline: none;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}

.fa-search {
  color: $lavender;
  margin-right: 8px;
}
