.form-control-new {
  border: none;
  border-bottom: 3px solid $lavender;
  font-size: 1.25rem;
  background-color: #F4F4F4;
  width: 80%;

  &:focus {
    outline: none;
  }
}

.search-bar {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fa-search {
  color: $lavender;
  margin-right: 8px;
  font-size: 1.25rem;
}
